body {
    font-family: 'Your Font', sans-serif;
    color: #333; /* Dark gray for the text */
    background-color: #fff; /* White background */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #333; /* Dark gray for the navigation text */
}

.banner {
    text-align: center;
    background-color: #FADADD; /* Assumed pink background for the banner */
    padding: 20px 0;
}

h1 {
    color: #333; /* Dark gray for the heading */
    font-size: 3em;
    margin-bottom: 0.5em;
}

.banner p {
    color: #333; /* Dark gray for the subheading */
    font-size: 1.5em;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333; /* Dark gray for the CTA button background */
    color: #fff; /* White text for the CTA button */
    text-decoration: none;
    font-weight: bold;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #eaeaea;
    text-align: center; /* Center the content horizontally */
}

.product-item img, .images-page img {
    display: block;
    margin: 0 auto;
    max-width: 80%; /* Reduced size of the image */
    height: auto;
}

.images-page {
    max-width: 80%; /* Reduce the size of the image */
    margin-bottom: 30px; /* Space after the image */
}

.youtube-video {
    text-align: center;
    margin-top: 50px; 
}

.youtube-video h2 {
    color: #333; /* Dark gray for the heading */
    font-size: 2em;
    margin-bottom: 20px; 
}

.youtube-video iframe {
    max-width: 90%; /* Increased size of the YouTube video */
    height: 500px; /* Make the video larger vertically */
    margin: 0 auto;
}
.add-to-cart-button {
    background-color: #333; /* Dark gray for the button background */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.add-to-cart-button:hover {
    background-color: #555; /* Darker gray on hover */
}

footer {
    background-color: #333; /* Dark gray for the footer */
    color: #fff; /* White text for the footer */
    padding: 20px;
    text-align: center;
}
